#main-photo {
    height: 400px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(93, 92, 92);
}

h1 {
    color: darkslategrey;
    font-size: 50px;
}

h2 {
    color: darkslategrey;
}

body {
    background-image: url(portfolio_background.avif);
}

.links {
    background-color: whitesmoke;
    height: 75px;
    width: 400px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px rgb(93, 92, 92);
}

ul {
    list-style: none;
    display: flex;
}

li {
    color: darkslategray;
    font-size: 20px;
    margin-right: 50px;
    margin-top: 25px;
}